.Cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000;
  display: flex;
  justify-content: flex-end;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .cart-content {
    height: 100vh;
    width: 320px;
    position: relative;
    overflow: scroll;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    animation: cartSlider 0.2s ease forwards;
    transform: translateX(100%);

    .header {
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 8px;
      border-bottom: 1px solid #e0e0e0;
      .close-btn {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        font-weight: 500;
        &:hover {
          opacity: 0.6;
        }
        &:active {
          opacity: 1;
        }
      }
    }
    .empty-cart-info{
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 20px;
      align-items: center;
      .icon{
        font-size: 3em;
      }
    }
    .checkout-info {
      margin-top: 48px;
      padding-inline: 10px;

      .total-amount {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .checkout {
        margin: 16px 8px;
      }
    }
  }
}
@keyframes cartSlider {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 480px) {
  .Cart {
    .cart-content {
      width: 100%;
    }
  }
}
