.Payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
   gap: 20px;
   margin-top: 40px;
     .icon{
        font-size: 3.5em;
        
        
     }
    }